.App {
  text-align: center;
}

.App-header {
  background-color: #222;
  height: 80px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
  padding: 20px 0 0 0;
}

input[type=text] {
  padding:3px 3px 3px 5px;
  border:1px solid #ccc; 
  border-radius: 4px;
  box-shadow: 1px 1px 10px #D3D3D3;
}

input[type=submit] {
  background: #1990FF;
  color: #fff;
  margin-left: 5px;
  padding: 3px 5px 3px 5px;
  border:1px solid #1990FF; 
  border-radius: 4px;
}

@keyframes App-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
