html {
  font-size: 12px;
}

body {
  background-color: #F2F2F2;
 }

.App {
  padding: 100px 0px 50px 100px;
  background-image: url("https://i.imgur.com/MPcDf2v.jpg");
  background-repeat: repeat;
  box-shadow: 0px 1px 5px 1px gray;
}

.AppTitle {
  font-size: 2.5rem;
  color: #fff;
  width: 480px;
}

.AppInstructions {
  color: #fff;
  padding: 10px 0px 5px 0px;
  width: 500px;
}

input[type=text] {
  padding:3px 3px 3px 5px;
  border:1px solid #ccc; 
  border-radius: 4px;
}

button {
  background: #99C432;
  color: #fff;
  margin-left: 5px;
  padding: 3px 5px 3px 5px;
  border: 1px solid #99C432; 
  border-radius: 4px;
}