.manga {
    order: 0;
    flex: 0 1 auto;
    width: 100px;
    text-align: center;
    color: #fff;
    margin: 10px 15px 0px 20px;
    font-size: 30px;
    padding: 15px 15px 15px 15px;
    border-radius: 20px;
    background-color: #22CCC6;
  }

.User-manga {
    margin: 0px 60px 20px 60px;
    padding: 10px 10px 10px 10px;
    color: #fff;
    text-align: justify;
    line-height: 30px;
  }

  .mangaInProgress {
    order: 0;
    flex: 1 1 auto;
    align-self: auto;
    text-align: right;
    padding: 0px 0px 0px 30px;
    color: #4FB5FF;
    font-size: 37px;
    margin: 0px 10px 0px 10px;
  }
  
  .mangaCompleted {
    order: 0;
    flex: 1 1 auto;
    align-self: auto;
    text-align: right;
    padding: 0px 0px 0px 30px;
    color: #99C432;
    font-size: 37px;
    margin-right: 10px;
  }
  
  .mangaOnHold {
    order: 0;
    flex: 1 1 auto;
    align-self: auto;
    text-align: right;
    padding: 0px 0px 0px 30px;
    color: #C0C0C0;
    font-size: 37px;
    margin-right: 10px;
  }
  
  .mangaDropped {
    order: 0;
    flex: 1 1 auto;
    align-self: auto;
    text-align: right;
    padding: 0px 0px 0px 30px;
    color: #FFA732;
    font-size: 37px;
    margin-right: 10px;
  }
  
  .mangaPlanned {
    order: 0;
    flex: 1 1 auto;
    align-self: auto;
    text-align: right;
    padding: 0px 0px 0px 30px;
    color: #BF4CBB;
    font-size: 37px;
    margin-right: 10px;
  }
  
  .mangaRewatch {
    order: 0;
    flex: 1 1 auto;
    align-self: auto;
    text-align: right;
    padding: 0px 0px 0px 30px;
    color: #99C432;
    font-size: 37px;
    margin-right: 10px;
  }
  
  .mangaMeanscore {
    order: 0;
    flex: 1 1 auto;
    align-self: auto;
    text-align: right;
    padding: 0px 0px 0px 30px;
    color: #EF8764;
    font-size: 37px;
    font-weight: bold;
    margin-right: 10px;
  }