.Charts {
  display: flex;
  flex-direction: row;
}

.ChartsItems {
  flex: 0 1 auto;
  padding: 20px 0px 0px 20px;
}

.ChartsTitle {
  font-size: 3rem;
  margin-bottom: 15px;
  color: #4FB5FF;
}

.ChartsHint {
  font-size: 1rem;
  color: #000;
  margin: 3px;
}

.ChartSelector {
  background-color: #fff;
  border: 1px solid #dbdbdb;
  border-radius: 8px;
  padding: 10px;
}

.ChartCategory {
  color: #99C432;
  font-size: 1.25rem;
  font-weight: bold;
  margin-bottom: 5px;
}

.ChartRow {
  margin-bottom: 15px;
}

.ChartButton {
  background: #99C432;
  color: #fff;
  padding: 3px 5px 3px 5px;
  border: 1px solid #99C432; 
  border-radius: 4px;
}
  
.ChartsContent {
    display:flex;
    flex-direction:column;
    padding: 20px 0px 0px 0px;
 }

.ChartCompleted {
  font-size: 1.5rem;
  text-align: center;
}

.ChartDropped {
  font-size: 1.5rem;
  text-align: center;
}

.CategoryButton {
  margin-right: 5px;
  width: 80px;
  background: #99C432;
  color: #fff;
  padding: 3px 5px 3px 5px;
  border: 1px solid #99C432; 
  border-radius: 4px;
}

.CategoryButton:active {
  margin-right: 5px;
  width: 80px;
  background-color: #FFA732;
  border-color: #FFA732;
}

.subButton {
  margin-right: 5px;
  width: 80px;
  background-color: #4FB5FF;
  color: #fff;
  padding: 3px 5px 3px 5px;
  border: 1px solid #4FB5FF;
  border-radius: 4px;
}

.subButton:active {
  margin-right: 5px;
  width: 80px;
  background-color: #FFA732;
  border-color: #FFA732;
}

canvas {
  min-width: 600px;
  min-height: 400px;
}

.chartjs-render-monitor {
    width: 100%;
}


