.Charts {
}

.ChartsTitle {
  padding: 10px;
  background-image: url("https://i.imgur.com/MPcDf2v.jpg");
  background-repeat: repeat;
  box-shadow: 0px 1px 5px 1px gray;
  font-size: 1rem;
  color: #fff;
}

.ChartRow {
  margin: 10px;
  display:flex;
  flex-direction:row;
}

.ChartsCol {
  display:flex;
  flex-direction:column;
}
  
.ChartsContent {
    display:flex;
    flex-direction:column;
    padding: 20px 0px 0px 0px;
 }

.ChartCompleted {
  font-size: 1.5rem;
  text-align: center;
}

.ChartDropped {
  font-size: 1.5rem;
  text-align: center;
}

.AnimeButton {
  margin-right: 5px;
  width: 80px;
}

.AnimeButton:active {
  margin-right: 5px;
  width: 80px;
  background-color: #FFA732;
  border-color: #FFA732;
}

.MangaButton {
  margin-right: 5px;
  width: 80px;
}

.MangaButton:active {
  margin-right: 5px;
  width: 80px;
  background-color: #FFA732;
  border-color: #FFA732;
}

.subButton {
  margin-right: 5px;
  width: 80px;
  background-color: #4FB5FF;
  border-color: #4FB5FF;
}

.subButton:active {
  margin-right: 5px;
  width: 80px;
  background-color: #FFA732;
  border-color: #FFA732;
}

canvas {
  width: 80%;
  height: 400px;
}